{
  "openapi": "3.1.0",
  "info": {
    "title": "Korbit API",
    "version": "1.0.0",
    "description": "API de pagamentos da Korbit para merchants: PIX, cartão (com 3DS), assinaturas, checkout por link, payouts, antecipações e refunds — com idempotência, webhooks assinados e ambiente sandbox.",
    "contact": {
      "name": "Suporte Korbit",
      "email": "suporte@korbit.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.korbit.com.br",
      "description": "Produção (chaves kbt_live_)"
    },
    {
      "url": "https://api-test.korbit.com.br",
      "description": "Sandbox (chaves kbt_test_)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Antecipações"
    },
    {
      "name": "Assinaturas"
    },
    {
      "name": "Atividade"
    },
    {
      "name": "Catálogo"
    },
    {
      "name": "Chaves de API"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Clientes e Pedidos"
    },
    {
      "name": "Pagamentos"
    },
    {
      "name": "Refunds e Disputas"
    },
    {
      "name": "Saldo e Saques"
    },
    {
      "name": "Sandbox"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v1/iam/api-keys": {
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "Chaves de API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "scopes"
                ],
                "properties": {
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiração opcional (ISO 8601). Recomendado para chaves de uso temporário."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Nome descritivo da chave (ex.: `erp-producao`, `conciliacao-job`)."
                  },
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "enum": [
                        "iam:manage",
                        "payments:read",
                        "payments:write",
                        "payouts:read",
                        "payouts:write",
                        "refunds:write",
                        "webhooks:manage",
                        "commerce:read",
                        "commerce:write"
                      ]
                    },
                    "description": "Escopos concedidos — a chave nunca pode fazer mais que o declarado aqui."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "createdAt",
                    "environment",
                    "expiresAt",
                    "id",
                    "lastUsedAt",
                    "name",
                    "publicId",
                    "revokedAt",
                    "scopes",
                    "status",
                    "token"
                  ],
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    },
                    "expiresAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "lastUsedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "revokedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "scopes": {
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": true,
                      "items": {
                        "type": "string",
                        "enum": [
                          "iam:manage",
                          "payments:read",
                          "payments:write",
                          "payouts:read",
                          "payouts:write",
                          "refunds:write",
                          "webhooks:manage",
                          "commerce:read",
                          "commerce:write"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "EXPIRED",
                        "REVOKED"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Criar chave de API",
        "description": "Cria uma chave com os escopos informados. O token completo (`kbt_…`) é retornado **uma única vez** — guarde-o em gerenciador de segredos. Aplique o menor privilégio: crie chaves por integração com escopos mínimos."
      },
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "Chaves de API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-2"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Listar chaves de API",
        "description": "Chaves da conta com escopos, estado e último uso. O segredo nunca é retornado."
      }
    },
    "/v1/iam/api-keys/{id}/rotate": {
      "post": {
        "operationId": "rotateApiKey",
        "tags": [
          "Chaves de API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "gracePeriodSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400,
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "createdAt",
                    "environment",
                    "expiresAt",
                    "id",
                    "lastUsedAt",
                    "name",
                    "publicId",
                    "revokedAt",
                    "scopes",
                    "status",
                    "token"
                  ],
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    },
                    "expiresAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "lastUsedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "publicId": {
                      "type": "string"
                    },
                    "revokedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "scopes": {
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": true,
                      "items": {
                        "type": "string",
                        "enum": [
                          "iam:manage",
                          "payments:read",
                          "payments:write",
                          "payouts:read",
                          "payouts:write",
                          "refunds:write",
                          "webhooks:manage",
                          "commerce:read",
                          "commerce:write"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "EXPIRED",
                        "REVOKED"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Rotacionar chave de API",
        "description": "Cria o token substituto e revoga o anterior após a carência configurada (`gracePeriodSeconds`) — rotação sem downtime. O novo token é exibido uma única vez.",
        "x-mint": {
          "content": "<Warning>\nRotação substitui o token: atualize seus serviços dentro da janela de carência, senão as chamadas começam a receber `401`.\n</Warning>"
        }
      }
    },
    "/v1/iam/api-keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "tags": [
          "Chaves de API"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Default Response"
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Revogar chave de API",
        "description": "Revoga imediatamente — toda chamada seguinte retorna `401`. Use em suspeita de vazamento."
      }
    },
    "/v1/sandbox/payment-intents/{id}/simulate": {
      "post": {
        "operationId": "simulateSandboxPaymentIntent",
        "tags": [
          "Sandbox"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scenario"
                ],
                "properties": {
                  "scenario": {
                    "type": "string",
                    "enum": [
                      "pix.paid",
                      "pix.expired",
                      "card.auth_required",
                      "card.approved",
                      "card.declined_insufficient_funds",
                      "card.declined_generic"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "amount",
                    "createdAt",
                    "currency",
                    "description",
                    "externalReference",
                    "id",
                    "metadata",
                    "paymentMethod",
                    "pix",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "cardAction": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "externalResourceUrl",
                        "creq",
                        "expiresAt"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "THREE_DS"
                          ]
                        },
                        "externalResourceUrl": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2048,
                          "pattern": "^https://"
                        },
                        "creq": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16384,
                          "pattern": "^[A-Za-z0-9_=-]+$"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "amount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "BRL"
                      ]
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 200
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalReference": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 128
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "metadata": {
                      "type": "object",
                      "maxProperties": 20,
                      "additionalProperties": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "paymentMethod": {
                      "type": "string",
                      "enum": [
                        "PIX",
                        "CARD"
                      ]
                    },
                    "pix": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "copyAndPaste",
                            "expiresAt"
                          ],
                          "properties": {
                            "copyAndPaste": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "PROCESSING",
                        "REQUIRES_ACTION",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELED",
                        "EXPIRED"
                      ]
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Simular resultado de pagamento",
        "description": "Força o desfecho de um payment intent de teste: aprovar, recusar ou expirar. Disponível apenas com chaves `kbt_test_` — no sandbox não existe \"pagar de verdade\"."
      }
    },
    "/v1/sandbox/payment-intents/{id}/cases/simulate": {
      "post": {
        "operationId": "simulateSandboxCase",
        "tags": [
          "Sandbox"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scenario"
                ],
                "properties": {
                  "scenario": {
                    "type": "string",
                    "enum": [
                      "refund.requested",
                      "refund.succeeded",
                      "refund.denied",
                      "dispute.opened",
                      "dispute.won",
                      "dispute.lost",
                      "med.opened",
                      "med.reversed",
                      "med.rejected"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Simular caso de refund",
        "description": "Cria um caso de refund/disputa sobre um payment intent de teste para exercitar [aprovação, contestação e prazos](/refunds-disputas/refunds)."
      }
    },
    "/v1/sandbox/payment-intents/{id}/webhooks/simulate": {
      "post": {
        "operationId": "simulateSandboxWebhookTransport",
        "tags": [
          "Sandbox"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scenario"
                ],
                "properties": {
                  "scenario": {
                    "type": "string",
                    "enum": [
                      "duplicate_logical",
                      "delayed",
                      "out_of_order",
                      "timeout_once"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "in": "header",
            "name": "idempotency-key",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Simular entrega de webhook",
        "description": "Envia ao seu endpoint a mesma mensagem **assinada** que a produção enviaria — perfeito para validar a [verificação de assinatura](/webhooks/assinatura) com dados reais de entrega."
      }
    },
    "/v1/payment-intents": {
      "post": {
        "operationId": "createPaymentIntent",
        "tags": [
          "Pagamentos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentMethod",
                  "amount",
                  "card",
                  "currency"
                ],
                "properties": {
                  "paymentMethod": {
                    "type": "string",
                    "enum": [
                      "PIX"
                    ],
                    "description": "Método de pagamento: `PIX` para cobrança instantânea por QR/copia-e-cola ou `CARD` para cartão de crédito."
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991,
                    "description": "Valor total em centavos (BRL). Ex.: `14990` = R$ 149,90. Não há campo de desconto nem taxa — o valor cobrado é exatamente este."
                  },
                  "card": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "installments",
                      "payer",
                      "paymentMethodId",
                      "paymentMethodType",
                      "token"
                    ],
                    "properties": {
                      "deviceSessionId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "pattern": "^[A-Za-z0-9_-]+$"
                      },
                      "installments": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 24
                      },
                      "issuerId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "payer": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "email"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email",
                            "maxLength": 254
                          },
                          "identification": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "number",
                              "type"
                            ],
                            "properties": {
                              "number": {
                                "type": "string",
                                "minLength": 11,
                                "maxLength": 18,
                                "pattern": "^[0-9]+$"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "CPF",
                                  "CNPJ"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "paymentMethodId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "paymentMethodType": {
                        "type": "string",
                        "enum": [
                          "credit_card",
                          "debit_card"
                        ]
                      },
                      "token": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048
                      }
                    }
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "BRL"
                    ],
                    "description": "Moeda da cobrança. Atualmente apenas `BRL`."
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Descrição visível nos relatórios e na conciliação (ex.: \"Pedido #1042\"). Não é exibida ao comprador no checkout hospedado."
                  },
                  "externalReference": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Seu identificador interno do pedido (ex.: id no seu banco). Útil para conciliar depois — pode ser consultado e filtrado."
                  },
                  "metadata": {
                    "type": "object",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 500
                    },
                    "description": "Objeto livre para seus dados (máx. de chaves limitado pelo schema). Nunca inclua dados pessoais sensíveis."
                  },
                  "expiresInSeconds": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 86400,
                    "description": "TTL da cobrança em segundos. Após expirar, a cobrança não pode mais ser paga (PIX padrão: 900 s)."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "in": "header",
            "name": "idempotency-key",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "amount",
                    "createdAt",
                    "currency",
                    "description",
                    "externalReference",
                    "id",
                    "metadata",
                    "paymentMethod",
                    "pix",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "cardAction": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "externalResourceUrl",
                        "creq",
                        "expiresAt"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "THREE_DS"
                          ]
                        },
                        "externalResourceUrl": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2048,
                          "pattern": "^https://"
                        },
                        "creq": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16384,
                          "pattern": "^[A-Za-z0-9_=-]+$"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "amount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "BRL"
                      ]
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 200
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalReference": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 128
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "metadata": {
                      "type": "object",
                      "maxProperties": 20,
                      "additionalProperties": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "paymentMethod": {
                      "type": "string",
                      "enum": [
                        "PIX",
                        "CARD"
                      ]
                    },
                    "pix": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "copyAndPaste",
                            "expiresAt"
                          ],
                          "properties": {
                            "copyAndPaste": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "PROCESSING",
                        "REQUIRES_ACTION",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELED",
                        "EXPIRED"
                      ]
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "amount",
                    "createdAt",
                    "currency",
                    "description",
                    "externalReference",
                    "id",
                    "metadata",
                    "paymentMethod",
                    "pix",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "cardAction": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "externalResourceUrl",
                        "creq",
                        "expiresAt"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "THREE_DS"
                          ]
                        },
                        "externalResourceUrl": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2048,
                          "pattern": "^https://"
                        },
                        "creq": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16384,
                          "pattern": "^[A-Za-z0-9_=-]+$"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "amount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "BRL"
                      ]
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 200
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalReference": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 128
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "metadata": {
                      "type": "object",
                      "maxProperties": 20,
                      "additionalProperties": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "paymentMethod": {
                      "type": "string",
                      "enum": [
                        "PIX",
                        "CARD"
                      ]
                    },
                    "pix": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "copyAndPaste",
                            "expiresAt"
                          ],
                          "properties": {
                            "copyAndPaste": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "PROCESSING",
                        "REQUIRES_ACTION",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELED",
                        "EXPIRED"
                      ]
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "detail",
                    "instance",
                    "requestId",
                    "status",
                    "title",
                    "type"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer",
                      "minimum": 400,
                      "maximum": 599
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Criar payment intent",
        "description": "Cria uma cobrança por **PIX** ou **cartão**. A resposta vem em `REQUIRES_ACTION` com os dados para o comprador pagar (código PIX copia-e-cola) ou com o desafio de autenticação pendente. O estado final da cobrança chega pelos eventos de webhook — consulte `GET /v1/payment-intents/{id}` sempre que precisar do estado autoritativo. Requer `Idempotency-Key`.",
        "x-mint": {
          "content": "<Note>\nO valor é sempre em **centavos** e é fixado server-side a partir deste corpo — o comprador não altera valores. Veja [Moeda e valores](/guias/moeda-e-valores).\n</Note>\n\n<Tip>\nGere um `Idempotency-Key` novo por intenção de cobrança e reutilize-o nos retries do mesmo request. Veja [Idempotência](/guias/idempotencia).\n</Tip>"
        }
      }
    },
    "/v1/payment-intents/{id}": {
      "get": {
        "operationId": "getPaymentIntent",
        "tags": [
          "Pagamentos"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Identificador do payment intent (UUID)."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "amount",
                    "createdAt",
                    "currency",
                    "description",
                    "externalReference",
                    "id",
                    "metadata",
                    "paymentMethod",
                    "pix",
                    "status",
                    "updatedAt"
                  ],
                  "properties": {
                    "cardAction": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "externalResourceUrl",
                        "creq",
                        "expiresAt"
                      ],
                      "properties": {
                        "type": {
                          "enum": [
                            "THREE_DS"
                          ]
                        },
                        "externalResourceUrl": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 2048,
                          "pattern": "^https://"
                        },
                        "creq": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16384,
                          "pattern": "^[A-Za-z0-9_=-]+$"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "amount": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "BRL"
                      ]
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 200
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalReference": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 128
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "metadata": {
                      "type": "object",
                      "maxProperties": 20,
                      "additionalProperties": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "paymentMethod": {
                      "type": "string",
                      "enum": [
                        "PIX",
                        "CARD"
                      ]
                    },
                    "pix": {
                      "anyOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
[...]
